section > img {
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
    display: block;
}

span#local_shipping {
    font-size: 32px;
}

.bracelet-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    padding-top: 20px;
}

.bracelet-item {
    width: 44%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.bracelet-item img {
    width: 100%;
    height: auto;
}

.bracelet-item p {
    margin: 10px 0;
    color: #333;
}

.price-tag {
    background-color: #FF69B4;
    color: white;
    padding: 5px 10px;
    position: absolute;
    bottom: -10px;
    right: 10px;
    border-radius: 50%;
    font-size: 16px;
}

.bracelet-item:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

div#footer {
    position: relative;
    width: 100%;
    margin-bottom: -15px;
    background-color: #E8F1FF;
    padding-bottom: 2px;
    padding-top: 1px;
    margin-top: 30px;
}

div#footer > p:first-child {
    text-align: center;
    font-family: 'GellixSemiBold';
    font-size: 20px;
    color: #002776;
}

div#footer > p:nth-child(2) {
    text-align: center;
    font-family: 'GellixMedium';
    font-size: 14px;
    color: #002776;
}

.dinheiro2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    font-family: 'GellixMedium';
}

.old {
    text-decoration: line-through;
    font-family: 'GellixRegular';
    font-size: 14px;
    color: #FF7676 !important;
}

.new {
    font-family: 'GellixSemiBold';
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: #0D3BDD !important;
}

.nome {
    font-family: 'GellixMedium';
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.title {
    font-family: 'GellixMedium';
    text-align: center;
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -10px;
    color: rgb(37, 37, 37);
}

.title3 {
    font-family: 'GellixMedium';
    text-align: center;
    font-size: 32px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #0D3BDD;
}

.title4 {
    font-family: 'GellixRegular';
    text-align: center;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    margin-bottom: -10px;
    color: #ff7676;
    text-decoration: line-through;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-left: 2%;
    margin-bottom: 10px;
    color: rgb(37, 37, 37);
    font-family: 'GellixRegular';
}

.code {
    font-family: 'GellixRegular';
    text-align: center;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(128, 128, 128);
    margin-top: -15px;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
}

.text2 {
    font-family: 'GellixRegular';
    color: rgb(137, 137, 137);
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid rgb(160, 160, 160);
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    font-size: 15px;
}

.title2 {
    font-family: 'GellixRegular';
    color: white;
    font-size: 16px;
    background-color: rgb(188, 188, 188);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -15px;
}

.button-container {
    width: 90%;
    max-width: 600px;
    display: flex;
    margin: 0 auto;
}

.styled-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #64c45b;
    border: none;
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.styled-button:hover {
    background-color: #57b84e;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-title {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'GellixSemiBold';
}

.button-subtitle {
    font-size: 1rem;
    margin-top: 5px;
    font-family: 'GellixRegular';
}

.button-icon {
    font-size: 1.5rem;
}

.desc-image {
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}

.pag-image {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.pag-image2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: -50px;
}

.thumbnails > img {
    width: 20%;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 15px;
}

.thumbnails img:hover {
    opacity: 1;
}

.sizes {
    list-style: none;
    padding: 0;
}

.sizes li {
    display: inline-block;
    margin-right: 10px;
    background: #ddd;
    padding: 5px 10px;
    cursor: pointer;
}
